
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}


.login-container {
    width: 320px;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}


.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

.login-container input:focus {
    border-color: #2c5364;
}


.login-container button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #2c5364;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition:  0.3s;
}

.login-container button:hover {
    background: #203a43;
}


#login-error {
    margin-top: 12px;
    color: red;
    font-size: 14px;
}
